<%- include('header') -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% allTasks.forEach((task)=> { %>
            <form action="/remove" method="post">
                <div class="item">
                    <input type="checkbox" name="checkedTask" value="<%= task._id %>" onChange="this.form.submit()">
                    <p>
                        <%= task.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
            <% }) %>


                <form class="item" action="/" method="post">
                    <input type="text" name="newTask" placeholder="Add New Task" autocomplete="off" autofocus
                        autocapitalize="words">
                    <input type="hidden" name="listName" value="<%= listTitle %>">
                    <button type="submit" name="submit">+</button>
                </form>
    </div>

    <%- include('footer') -%>